/* Select the body element and apply a background color */
body {
    background-color: #ffffff;
    justify-content: center;
  }

  html {
    overflow-y: scroll;
  } 

  body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    left:100px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
  }

  /* Define a custom font */
@font-face {
  font-family: "Scribbles";
  src: url("Fonts/Scribbles-Regular.ttf"); 
}

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  header {
    display: grid;
    grid-template-columns: auto 20% 60%;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  
  nav li {
    padding-right: 50px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  } 

  button {
    display: flex;
    flex-direction: row;
    font-family: "Scribbles";
    padding: 15px;
    font-size: 40px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin: auto;
    background: transparent;
    border: none;
    list-style: none;
  }

  /* SearchBar*/

  .search-container {
    background-image: url("Images/Website Elements/SearchBar.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 35px;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
  }

  .search-container input[type="text"] {
    display: flex;
    font-family: "Scribbles";
    padding: 15px;
    font-size: 35px;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
  }

  .search-container2
  {
    display: flex;
    width: auto;
    height: 560px;
    margin-left: 100px;
    justify-content: flex-start;
    background-image: url("Images/Website Elements/TextBox.png");
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    background-size: contain;
  }

  .search-container2 textarea {
    display: flex;
    font-family: "Scribbles";
    align-self: flex-start;
    justify-content: center;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 35px;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: left;
    resize: none;
    height: 500px;
    width: 300px;
  }

  .search-container2 textarea::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    left:100px;
  }
   
  .search-container2 textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  }
   
  .search-container2 textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
  }

  .search-container2 .mic-button-container button
  {
    inline-size: 200px;
    height: 50px;
  }

  /*EndSearchBar*/
  

  sub-title{
    display: flex;
    font-family: "Scribbles";
    padding-left: 50px;
    padding-top: 100px;
    margin: 0;
    font-size: 60px;
    color: #000000;
  }

  .FastFoodContainer sub-title{
    padding-top: 50px;
  }

  sub-title a{
    text-decoration: none;
    font-size: 45px;
    cursor: pointer;
    padding-right: 60px;
    margin-left: auto;
    color: #000000;
  }


  /* Use the custom font for a specific element */
  h1 {
    display: flex;
    font-family: "Scribbles";
    padding-left: 40px;
    margin: 0;
    font-size: 80px;
    color: #000000;
  }
  
  ul {
    font-family: "Scribbles";
    font-size: 51px;
    color: #000000;
  }

  /* Select the p element and apply a font family, size, and line height */
  p {
    font-family: "Scribbles", Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;    
    padding-left: 70px;
  }

  .button-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .button-container img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;

  }

  /* .AnimationScreenContainer .img-container img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 550px;
    margin-bottom: 10px;
  } */

  .AnimationScreenContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .AnimationScreenContainer .imgGen {
    display: flex;
    flex-direction: row;
  }

  .AnimationScreenContainer .imgGen img {
    Display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    /* animation: rotateScribble 0.1s linear infinite alternate; */
  }
  
  /* @keyframes rotateScribble {
    from {
      transform: rotate(5deg);
    }
    to {
      transform: rotate(-5deg);
    }
  } */

  .download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Scribbles";
    font-size: 35px;
    color: #000000;
    cursor: pointer;
  }

  .prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Scribbles";
    font-size: 35px;
    color: #000000;
    cursor: pointer;
  }
  
  @media (min-width: 414px) {
    .button-container {
      padding-left: 50px;
     }
    }


  /* Toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 4px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-image: url('Images/Website Elements/ToggleSlider.png'); /* Add image for slider here */
  background-size: cover;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background-image: url('Images/Website Elements/ToggleHandle.png'); /* Add image for handle here */
  background-size: cover;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: transparent;
  background-image: url('Images/Website Elements/ToggleSliderFilled.png'); /* Add image for active state of slider here */
  background-size: cover;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

#togglediv{
  height: 30px
}